<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.big.gvk.dm.Genotype">
	<resultMap id="GenotypeMap" type="cn.big.gvk.po.GenotypeBean">
		<id property="genotypeId" column="genotype_id"/>
		<result property="varId" column="var_id"/>
		<result property="chrom" column="chrom"/>
		<result property="startPos" column="start_pos"/>
		<result property="endPos" column="end_pos"/>
		<result property="genotypeCount" column="genotype_count" />
	</resultMap>

	<resultMap id="GenotypeAnnotateGeneViewMap" type="cn.big.gvk.po.GenotypeAnnotateGeneView">
		<id property="conseqId" column="conseq_id"/>
		<result property="gid" column="g_id"/>
		<result property="gentoypeId" column="genotype_id"/>
		<result property="conseqtype" column="conseqtype"/>
		<result property="effect" column="effect"/>
		<result property="mapGeneId" column="map_gene_id" />
		<result property="mapGeneChrom" column="map_gene_chrom" />
		<result property="mapGeneStart" column="map_gene_start" />
		<result property="mapGeneEnd" column="map_gene_end" />
		<result property="traitName" column="trait_name" />
		<result property="pmid" column="pmid" />
		<result property="commonName" column="common_name" />
		<result property="varId" column="var_id" />

	</resultMap>

    <resultMap id="ReportGeneMap" type="cn.big.gvk.po.ReportGeneBean">
        <result property="reportGeneId" column="report_gene_id" />
        <result property="entrezGeneSymbol" column="entrez_gene_symbol" />
    </resultMap>

	
	<select id="selectGenotypeById" resultMap="GenotypeAnnotateGeneViewMap">
		select a.genotype_id,b.map_gene_id,a.conseqtype,a.effect from genotype_annotate_gene a inner join gene b on a.g_id=b.g_id
		where a.genotype_id=#{genotypeId}
	</select>

	<select id="selectGenotypeByList" resultMap="GenotypeAnnotateGeneViewMap">
		select a.genotype_id,b.map_gene_id,b.map_gene_chrom,b.map_gene_start,b.map_gene_end,a.conseqtype,a.effect,
		(select trait_name from trait where trait.trait_id=d.trait_id) as trait_name,
		(select pmid from publication where publication.paper_id=d.paper_id) as pmid,
		(select common_name from organism where organism.org_id=d.org_id) as common_name,
		(select var_id from genotype where genotype.genotype_id=a.genotype_id) as var_id
		from genotype_annotate_gene a inner join gene b on a.g_id=b.g_id
		inner join gwas_association d on d.genotype_id=a.genotype_id
		where a.genotype_id in
		<foreach item="item" index="index" collection="genotypelist" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by b.map_gene_id
	</select>


    <select id="selectReportGeneById" resultMap="ReportGeneMap">
      select a.report_gene_id,a.entrez_gene_symbol from report_gene a, gwas_association_report_gene b where a.rpg_id=b.rpg_id and b.ga_id=#{gaId}
    </select>


	<select id="selectGenotypeByPos" parameterType="java.util.Map" resultMap="GenotypeMap">
		select
		<choose>
			<when test="count != null">
				count(distinct var_id) as genotype_count
			</when>
			<otherwise>
				genotype_id, var_id,chrom,start_pos,end_pos
			</otherwise>
		</choose>
		from genotype where 1=1 and var_id is not null
		<if test="chrom != null ">
			and chrom=#{chrom}
		</if>
		<if test="startpos != null ">
			and start_pos &gt;= #{startpos}
		</if>
		<if test="endpos != null ">
			and end_pos &lt;=#{endpos}
		</if>
		<if test="genotypeid !=null ">
			and genotype_id=#{genotypeid}
		</if>
		<if test=" p1 != null">
			limit ${p1},${p2}
		</if>
	</select>





</mapper>
