<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.big.gvk.dm.searchWord">

	<resultMap id="SearchWordMap" type="cn.big.gvk.po.SearchWordBean">
		<result property="scId" column="sc_id"/>
		<result property="wordId" column="word_id" />
		<result property="name" column="name"/>
		<result property="type" column="type" />
	</resultMap>

	<select id="selectSearchWordByOrganism" resultMap="SearchWordMap">
		select distinct name,type from searchword where name like CONCAT('%',#{term},'%')
	</select>

</mapper>
