<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.big.gvk.dm.statistic">

    <resultMap id="StatisticMap" type="cn.big.gvk.po.StatisticABean">
        <result property="st1Id" column="st1_id"/>
        <result property="orgId" column="org_id"/>
        <result property="sdNo" column="sd_no" />
        <result property="pbNo" column="pb_no" />
        <result property="ttNo" column="tt_no" />
        <result property="asNo" column="as_no" />
    </resultMap>

    <select id="selectAllStatisticA" resultMap="StatisticMap">
			select * from statistic_a
	</select>

</mapper>
